[mysql]
db_user=db_user
db_host=db_host
db_pass=db_pass
db_port=3306
db_name=db_name
db_charset=utf8

[email]
host_lan=localhost
host_wan=localhost
port=25

[azkaban]
host_lan=localhost
host_wan=localhost
user=user
pass=pass
port=8443

[adx_mysql]
db_user=db_user
db_host=db_host
db_pass=db_pass
db_port=3306
db_name=db_name
db_charset=utf8

[zizhu_mysql]
db_user=db_user
db_host=db_host
db_pass=db_pass
db_port=3306
db_name=db_name
db_charset=utf8

[web_setting]
platkey=platkey
callback=localhost
apikey=123456
master_url=localhost
auth_key=auth_key
cookieSecret=123456